.footer {
    .category__title-container {
        &::before {
            content: "Where are they";
          }
    }
}

.part {
    background-image: url('../../assets/bg_part.jpg');
    padding: 1rem 0 2rem;
    &__container {
        @extend %main-container;
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        border: 5px solid transparentize(black, 0.5);
        border-radius: 6px;
        width: 60px;
        aspect-ratio: 1 / 1;
    }
}

#page-footer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: darken($color-secondary, 20%);
    padding: 0.5rem;
    background-color: black;
}

.footerbar-system {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-home {
    display: none;
}