.main-header {
  background-image: url('../../assets/banner.jpg');
  background-size: cover;
  height: 770px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  &__title {
    display: flex;
    justify-content: center;
  }

  &__tags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 0 auto;
    gap: 1.5rem;
    align-items: center;
    @include breakpoint($breakpoint-s) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__tag-item {
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,0.75);
    backdrop-filter: blur(3px);
    border-radius: 6px;
    color: $color-primary;
    font-weight: 500;
    font-size: 12px;
    @include breakpoint($breakpoint-s) {
      font-size: 1rem;
    }
  }

}

.sticky-nav {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &__button {
    width: 32px;
    height: 32px;
    color: $color-secondary;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
      background-color: $color-secondary;
      color: black;
    }
  }
}