.listings {
  $block-selector: &;

  &__container {
    @extend %main-container;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  &__title-container {
    width: 100%;
    padding: 1rem;
    background: black;
    border-radius: 6px;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }

  &__title {
    color: $color-primary;
    margin-bottom: 0;
    font-size: 32px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    @include breakpoint(1024px) {
      display: grid;
      grid-template-columns: 250px auto;
      grid-gap: 1.25rem;
    }
  }

  &__tabs-list {
    background: black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
  }

  &__menu-title {
    font-size: 22px;
    text-transform: uppercase;
    color: $color-primary;
    margin-bottom: 1rem;
  }

  &__menu-item {
    color: white;
    background: none;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 1rem;
    position: relative;
    margin-bottom: 0.5rem;
    border: none;
    text-align: left;
    cursor: pointer;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background: $color-primary;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      display: none;
    }

    &:hover::before {
      display: block;
    }

    &.active {
      &::before {
        display: block;
      }
    }
  }

  &__tabs-container {
    position: relative;
    width: 100%;
    min-height: 60vh;
    @include breakpoint(1024px) {
      height: 60vh;
    }
  }

  &__tab-wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
    background: black;
    border-radius: 6px;
    padding: 2rem;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    &--avatars {
      @include breakpoint(768px) {
        background-image: url("../../assets/guide/bg_listing_avatars.png");
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
      }
    }
    &--masterlist {
      padding: 1rem;
      @include breakpoint(1024px) {
        padding: 2rem;
      }
    }

    &.loaded {
      display: block;
    }
    &.active {
      opacity: 1;
      left: 0;
    }
  }

  &__list {
    #listing-master & {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: space-between;

      @include breakpoint(768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
      }
      @include breakpoint(1200px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    }
  }

  &__section-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: $color-primary;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
    &:first-of-type {
      margin-top: 0;
    }
  }

  &__list-element {
    a {
      color: $color-secondary;
      font-weight: 600;
    }
  }

  &__master-item {
    width: 290px;
    margin: 5px;
    height: 335px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    background: $color-bunker;
    opacity: 1;
    display: block;
    transition: display 0s, opacity 0.3s linear;
    &.hidden {
      display: none;
      opacity: 0;
      transition: display 0s 0.3s, opacity 0.3s linear;
    }
  }

  &__master-head {
    width: 100%;
    background-color: $color-primary;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 100px;
    padding-left: 1rem;
    height: 50px;
    line-height: 1;
    display: flex;
    align-items: center;

    @include bgColorAsGroupClassSameLvl();
  }

  &__user-icon {
    border: 5px solid rgba(0,0,0,.5);
    border-radius: 50%;
    height: 85px;
    overflow: hidden;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    width: 85px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__user-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: calc(100% - 50px);
  }

  &__info-label {
    font-size: 14px;
    color: $color-secondary;
    font-weight: bold;
    text-transform: uppercase;
    @include colorAsGroupClass();
  }

  &__info {
    font-size: 12px;

    &--bio {
      height: 105px;
      overflow: auto;
      padding-right: 5px;
      text-align: justify;
    }
  }

  &__user-links {
    display: flex;
    margin-top: 6px;
    gap: 0.75rem;
  }

  &__user-link {
    display: block;
    padding: 5px 10px;
    background-color: black;
    font-size: 12px;
    border-radius: 6px;
    font-weight: bold;
    color: $color-primary;
    text-transform: uppercase;
    @include colorAsGroupClass();
    &:hover {
      color: white;
      outline: 2px solid rgba(255,255,255,0.1);
    }
  }

  &__loader {
    display: none;
    position: absolute;
    inset: 50%;
    width: 50px;
    height: 50px;
    border-top: 2px solid $color-secondary;
    border-radius: 50%;
    animation: rotate-center 0.6s linear infinite both;

    &.active {
      display: block;
    }
  }

  &__subtabs {
    padding: 0 1rem 1rem;
    display: none;
    gap: 5px;
    justify-content: center;
    padding: 0 1rem 1.5rem;
    position: relative;
    isolation: isolate;
    @include breakpoint(768px) {
      display: flex;
    }

    &::before {
      content: "Filtrer les personnages";
      font-size: 40px;
      font-style: italic;
      font-weight: 700;
      left: -1.5rem;
      opacity: 0.1;
      position: absolute;
      text-transform: uppercase;
      top: -0.5rem;
      transform: translateY(-50%);
      white-space: nowrap;
      z-index: -1;
    }
  }

  &__masterlist {
    position: relative;
    height: 100%;
    padding: 1rem 0;
  }

  &__filter-button {
    color: black;
    padding: 0.5rem;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.3s;
    font-weight: 600;
    cursor: pointer;
    @include bgColorAsGroupClassSameLvl();

    &:hover {
      filter: brightness(1.4);
    }

    &--all {
      background-color: $color-secondary;
    }
    &.active {
      filter: brightness(1.4);
    }
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#listing-master {
  height: calc(100% - 3.5rem);
  overflow: auto;
  padding: 0;
}
