.prog {
  $this: &;
  &__entry {
    position: relative;
    display: grid;
    grid-template-columns: 4rem 1fr;

    &:not(:first-of-type) {
      top: -1rem;
    }
  }

  &__entry-line {
    width: 4px;
    height: calc(100% - 1rem);
    margin: 0 auto;
    position: relative;
    top: 1rem;
    @include bgColorAsGroupClass();
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -6px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      @include bgColorAsGroupClass();
    }

    #{$this}__entry:last-of-type & {
      &::after {
        content: '';
        background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__entry-main {
    padding-bottom: 1.5rem;

    h3 {
      @include colorAsGroupClass();
      position: relative;
      padding-bottom: 0.5rem;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 4px;
        @include bgColorAsGroupClass();
      }
    }
  }

}