.qeel {
  background-color: $color-black;
  background-image: url("../../assets/dots-motif.jpg");
  background-repeat: repeat;
  background-size: 20px 20px;
  &__container {
    @extend %main-container;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include breakpoint(1200px) {
      display: grid;
      grid-template-columns: 1fr 280px 1fr;
      gap: 1rem;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
  }

  &__online-stats {
    font-size: 14px;
    font-weight: 600;
    color: $color-primary;
    padding-right: 6px;
    margin-bottom: 0;
  }

  &__online-block {
    background-color: black;
    border: 1px solid $color-mine-shaft;
    border-radius: 6px;
    padding: 1rem;
    font-size: 14px;
    height: 150px;
    overflow: auto;
    text-align: justify;
  }

  &__new-member-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include breakpoint(1200px) {
      flex-direction: row;
      height: 210px;
    }
  }

  &__new-member-block {
    height: 160px;
    flex-grow: 1;
    display: flex;
    border-radius: 6px;
    align-items: stretch;
    border: 1px solid $color-mine-shaft;
    overflow: hidden;
    background-color: black;
    @include breakpoint(1200px) {
      height: 100%;
    }
  }

  &__new-member-avatar {
    display: block;
    align-self: stretch;
    @include breakpoint(1200px) {
        aspect-ratio: 2 / 3;
      }
    img {
      height: 100%;
      object-fit: cover;
      @include breakpoint(1200px) {
        aspect-ratio: 2 / 3;
      }
    }
  }

  &__new-member-infos {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    align-items: right;

    @include breakpoint($breakpoint-s) {
      padding: 1rem;
    }
  }

  &__new-member-name {
    color: $color-primary;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1;

    @include breakpoint($breakpoint-s) {
      font-size: 26px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__new-member-text {
    font-size: 14px;
    color: white;
    font-weight: 600;

    @include breakpoint($breakpoint-s) {
      font-size: 16px;
    }
    span {
      font-size: 12px;
      color: $color-text;
      font-weight: 400;
      @include breakpoint($breakpoint-s) {
        font-size: 14px;
      }
    }
  }

  &__buttons-list {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    @include breakpoint(1200px) {
      width: 70px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__button {
    height: 40px;
    i {
      font-size: 2rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .title {
      margin-bottom: 0;
    }
  }

  &__right-top-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    @include breakpoint(550px) {
      flex-direction: row;
    }

    @include breakpoint(1200px) {
      margin-top: 0;
    }
  }

  &__global-stats {
    flex: 0.5;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include breakpoint(1200px) {
      width: 50%;
    }
  }

  &__illus-block {
    flex: 0.5;
    border-radius: 6px;
    overflow: hidden;
    background-image: url("../../assets/qeel/qeel-illus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  &__illus-text {
    padding: 0.5rem;
    background-color: transparentize(black, 0.25);
    border-radius: 6px;
    text-shadow: 0 0 15px lighten($color-primary, 10%), 0 0 7px $color-primary;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
  }

  &__opening-box {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-secondary;
    border: 1px solid $color-mine-shaft;
    border-radius: 6px;
    font-size: 24px;
    text-transform: uppercase;
    background-color: black;
    margin-top: 0.5rem;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__stat-item {
    display: flex;
    overflow: hidden;
    border-radius: 6px;
    height: 50px;
  }

  &__stat-label {
    flex-grow: 1;
    height: 100%;
    line-height: 50px;
    width: fit-content;
    background-color: $color-primary;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 6px 0 0 6px;
    text-align: center;
    padding: 0 10px;
  }

  &__stat-content {
    font-size: 24px;
    line-height: 50px;
    height: 100%;
    color: white;
    font-weight: 600;
    padding: 0 1rem;
    background-color: black;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: $color-mine-shaft;
    border-radius: 0 6px 6px 0;
    flex-grow: 1;
    text-align: center;
    strong {
      font-weight: 600;
    }
  }

  // SWIPER QEEL

  &__groups {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 1rem;
    @include breakpoint(1200px) {
        margin-top: 0;
    }
  }

  &__group-slider {
    height: 100%;
    width: 100%;
  }

  &__group-slide {
    width: 100%;
    height: 100%;
  }

  &__group-block {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
  }

  &__group-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__group-infos {
    position: relative;
    height: 240px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &__group-name {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: black;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: -1px;
    overflow: hidden;
  }

  &__group-stat {
    position: absolute;
    left: -5px;
    font-size: 50px;
    color: black;
    opacity: 0.25;
    top: 50%;
    transform: translateY(-50%);
    font-style: italic;
  }

  &__group-description {
    align-self: stretch;
    flex-grow: 1;
    background-color: rgba(0,0,0,0.75);
    padding: 1rem;
    font-size: 12px;
    color: white;
    line-height: 1.3;
    text-align: justify;
    margin-bottom: 0;
  }

  &__group-pagination {
    position: absolute;
    bottom: 0;
    height: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    z-index: 2;
  }

  &__bullet {
    display: block;
    width: 27px;
    height: 8px;
    border-radius: 4px;
    background-color: white;
    opacity: 0.5;
    border: 1px solid transparentize(white, 0.75);
    cursor: pointer;

    &:nth-of-type(1) {
        background-color: $color-jupiter;
    }
    &:nth-of-type(2) {
        background-color: $color-hellhounds;
    }
    &:nth-of-type(3) {
        background-color: $color-llorona;
    }
    &:nth-of-type(4) {
        background-color: $color-cercle;
    }
    &:nth-of-type(5) {
        background-color: $color-exiles;
    }
    &:nth-of-type(6) {
        background-color: $color-townies;
    }
    &--active {
        opacity: 1;
    }
  }
}
